<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <title>CloudStorageApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>
<body>
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" href="/home">
                <i class="bi bi-cloud"></i>
                <span class="ms-1">CloudStorageApp</span>
            </a>

            <!-- Nav toggle for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems"
                    aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Centered Form for Search -->
            <div class="collapse navbar-collapse justify-content-center" id="menuItems">

                <!-- Search Form -->
                <div class="flex-grow-1 d-flex justify-content-center" sec:authorize="isAuthenticated()">
                    <form class="d-flex" role="search" th:action="@{/search}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" placeholder="Search files..." aria-label="Search"
                                   aria-describedby="button-addon2" name="query">
                            <button class="bi bi-search custom-button" type="submit" id="button-addon2"></button>
                        </div>
                    </form>
                </div>

                <!-- Links (Sign up, Sign in, Logout) -->
                <div class="navbar-nav ms-auto">
                    <div sec:authorize="!isAuthenticated()" class="d-flex d-lg-flex justify-content-center align-items-center">
                        <a class="nav-link" href="/register">Sign up</a>
                        <a class="nav-link" href="/login">Sign in</a>
                    </div>

                    <div sec:authorize="isAuthenticated()" class="d-flex justify-content-center">
                        <i class="bi bi-person-circle"></i>
                        <p class="mb-0" style="margin-left: 5px" th:text="${principal.getUsername()}"></p>
                        <a class="nav-link" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="delete_button">
    <!-- Form for deletion -->
    <form th:data-confirm-delete="${'Are you sure you want to delete ' + (item.isDirectory() ? 'folder' : 'file') + ' ' + item.simpleName() + '?'}"
          th:action="@{/home(pathToObject=${item.urlEncodedPath()})}"
          method="post"
          onsubmit="return confirmDeletion(this)">
        <!-- Hidden input to indicate DELETE method -->
        <input type="hidden" name="_method" value="delete">

        <!-- Delete button -->
        <button type="submit"
                th:title="${'Delete ' + (item.isDirectory() ? 'folder' : 'file') + ' ' + item.simpleName()}"
                class="btn border-0 bi bi-trash">
            Delete
        </button>
    </form>
    <script>
        function confirmDeletion(form) {
            const confirmMessage = form.getAttribute('data-confirm-delete');
            return confirm(confirmMessage);
        }
    </script>
</div>

<div th:fragment="rename_button">
    <!-- Rename button -->
    <button type="submit"
            th:title="${'Rename ' + (item.isDirectory() ? 'folder' : 'file') + ' ' + item.simpleName()}"
            th:attr="data-target=|id-${itemStat.count}|"
            th:data-confirm-rename="${'Are you sure you want to rename ' + (item.isDirectory() ? 'folder' : 'file') + ' ' + item.simpleName() + '?'}"
            th:data-oldURL="${item.urlEncodedPath()}"
            onclick="focusOnRenamedObject(this)"
            class="btn border-0 bi bi-pencil-square">
        Rename
    </button>
    <script type="text/javascript" th:src="@{/scripts/rename.js}"></script>
</div>

<div th:fragment="download_button">
    <!-- Download button -->
    <form th:action="@{/home/download}" method="get">
        <input type="hidden" name="pathToObject" th:value="${item.urlEncodedPath()}"/>
        <input type="hidden" name="objectName" th:value="${item.simpleName()}"/>
        <button type="submit"
                th:title="${'Download ' + (item.isDirectory() ? 'folder' : 'file') + ' ' + item.simpleName()}"
                class="btn border-0 bi bi-cloud-arrow-down">
            Download
        </button>
    </form>
</div>


<div class="d-inline" th:fragment="dropdown_menu">
    <!-- Dropdown menu -->
    <button type="button" class="btn btn-sm bi bi-three-dots border-0 bi bi-list" data-bs-toggle="dropdown"
            aria-expanded="false">
    </button>

    <ul class="dropdown-menu">
        <!-- Download button -->
        <li th:if="${!item.isDirectory()}"><a class="dropdown-item">
            <th:block th:insert="~{fragments/general :: download_button}"></th:block>
        </a>
        </li>
        <!-- Rename button -->
        <li><a class="dropdown-item">
            <th:block th:insert="~{fragments/general :: rename_button}"></th:block>
        </a>
        </li>
        <!-- Remove button -->
        <li><a class="dropdown-item">
            <th:block th:insert="~{fragments/general :: delete_button}"></th:block>
        </a>
        </li>
    </ul>
</div>

<!-- Create new folder button -->
<div th:fragment="create_button">
    <button type="button"
            th:title="${'Create new folder'}"
            class="custom-button ms-3"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-folder-plus"></i>
        Create folder
    </button>
    <!-- Modal for creation folder -->
    <div class="modal fade modal-sm" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" th:action="@{/home/create}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-6">Create new folder</h1>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Enter new folder name" id="newFolderName"
                               name="newFolderName">
                        <input type="hidden" th:name="currentPath" th:value="${currentPath}"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="custom-button" data-bs-dismiss="modal">
                            <i class="bi bi-x-circle"></i>
                            Close
                        </button>
                        <button type="submit" class="custom-button">
                            <i class="bi bi-cloud-upload"></i>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Upload file -->
<div th:fragment="file_upload">
    <form action="/home/upload" method="POST" enctype="multipart/form-data">
        <div id="file_drop_zone" class="drop-zone">
            <i class=" bi bi-cloud-upload"></i>
            <span>Upload file</span>
            <input type="file" name="uploadedFile" class="drop-zone__input">
            <input type="hidden" name="currentPath" th:value="${currentPath}"/>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/scripts/uploadfile.js}"></script>
</div>
</body>

<!-- Upload folder -->
<div th:fragment="folder_upload">
    <form action="/home/upload" method="POST" enctype="multipart/form-data">
        <div id="folder_drop_zone" class="drop-zone" title="Please upload empty folders by dropping them">
            <i class="bi bi-cloud-plus"></i>
            <span>Upload folder</span>
            <input type="file" webkitdirectory name="uploadedFolder" class="drop-zone__input">
            <input type="hidden" name="currentPath" th:value="${currentPath}"/>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/scripts/uploadfolder.js}"></script>
</div>
</html>
