<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{fragments/general :: header}">
    </th:block>
</head>
<body>
<!-- Navbar -->
<th:block th:insert="~{fragments/general :: navbar}"></th:block>

<!-- Show if Authenticated-->
<div sec:authorize="isAuthenticated()">
    <div>
        <p class="text-center pt-2" th:if="${#vars['userName']}" th:text="${'Welcome to Disk ' + userName}">
    </div>

    <!-- Breadcrumbs -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="breadcrumb ms-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="item : ${userObjects}"
                th:if="${item.isDirectory() && !item.isSubfolder()}"
                th:classappend="${item.isActive()} ? 'active' : ''">

                <svg th:remove="${!item.isActive()}? tag" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
                    <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7z"/>
                </svg>

                <svg th:remove="${item.isActive()}? tag" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>

                <a th:remove="${item.isActive()}? tag" th:href="@{/home(path=${item.urlEncodedPath()})}"
                   th:text="${item.simpleName()}"
                   th:classappend="'link-dark'"></a>
            </li>
        </ol>
    </nav>

    <!-- Files and subfolders -->
    <div class="ms-3">
        <!-- Subfolders-->
        <div th:each="item : ${userObjects}" th:if="${item.isSubfolder()}" class="d-flex align-items-center">
            <div th:if="${item.isSubfolder()}">
                <!-- Subfolder picture -->
                <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-folder ms-2" viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                </svg>
                <!-- Subfolder Name -->
                <a class="link-dark" contenteditable="false" th:text="${item.simpleName()}" th:href="@{/home(path=${item.urlEncodedPath()})}" th:id="@{|id-${itemStat.count}|}"></a>

                <!-- Subfolder Dropdown menu -->
                <th:block th:insert="~{fragments/general :: dropdown_menu}"></th:block>
            </div>
        </div>

        <!-- Files -->
        <div th:each="item : ${userObjects}" th:if="${!item.isDirectory()}" class="d-flex align-items-center">
            <!-- File picture -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-file ms-2" viewBox="0 0 16 16">
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
            </svg>
            <!-- File Name -->
            <a class="item-text editable link-dark link-underline-opacity-0" contenteditable="false" th:text="${item.simpleName()}" th:id="@{|id-${itemStat.count}|}"></a>

            <!-- File Dropdown menu -->
            <th:block th:insert="~{fragments/general :: dropdown_menu}"></th:block>
        </div>


    </div>
</div>
</body>
</html>


